ion-toolbar {
  padding: 0 6px;

  ion-searchbar {
    padding: 0 16px;
  }
  ion-buttons {
    width: 24px;
    height: 24px;
    font-size: 24px;

    &.margin-right {
      margin-right: 16px;
    }
  }
}

.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  place-content: center space-between;
  align-items: center;
  height: 100%;

  form {
    width: 100%;

    p {
      margin: 0;
      color: red;
      font-size: 12px;
    }
  }
  .footer {
    width: 100%;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    place-content: center space-between;
    align-items: center;

    ion-button {
      flex: 1 1 0%;
    }
  }
}
