.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  place-content: center space-between;
  align-items: center;
  height: 100%;

  form {
    width: 100%;

    p {
      margin: 0;
      color: red;
      font-size: 12px;
    }

    ion-item {
      ion-button {
        button {
          color: black;
          background-color: white;
          box-shadow: none;
        }
      }
    }
  }
  .footer {
    width: 100%;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    place-content: center space-between;
    align-items: center;

    ion-button {
      flex: 1 1 0%;
    }
  }
}
