ion-toolbar {
  padding: 0 8px;

  ion-buttons {
    width: 24px;
    height: 24px;
    font-size: 24px;
  }
}

.movements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  padding: 16px;
  overflow: auto;

  span {
    width: 50%;
    min-width: 50%;
    margin-bottom: 5px;
  }
}
