<ion-content>
    <div class="list">
        <ng-container *ngFor="let pokemon of pokemons">
            <app-pokemon-card [pokemon]="pokemon"
                              (click)="viewDetail(pokemon.id)"></app-pokemon-card>
        </ng-container>
        <ng-container *ngIf="displayError">
            <ion-item>
                <ion-icon slot="end"
                          name="alert-outline"></ion-icon>
                <ion-label>No results were found, please try again</ion-label>
            </ion-item>

        </ng-container>
    </div>
    <ion-infinite-scroll threshold="100px"
                         (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles"
                                     loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
